<h2>POST form</h2>

<div>
  <input
    [(ngModel)]="title"
    #titleInput
    type="text"
    class="form-control mb-2"
    placeholder="Title">
  <input
    [(ngModel)]="text"
    type="text"
    class="form-control mb-2"
    placeholder="Text">

  <div class="row m-0">
    <button
      (click)="addPost()"
      class="btn btn-info mt-2 mr-2">Add post</button>
    <button
      (click)="onResetForm()"
      class="btn btn-danger mt-2 mr-2">Reset</button>
    <button
      (click)="focusTitle()"
      class="btn btn-outline-warning mt-2 mr-2">Focus title</button>
    <button
      (click)="toggleIds()"
      class="btn btn-outline-primary mt-2">Show ID's</button>
  </div>

</div>
