<div class="container">
  <app-post-form
    (onAdd)="updatePosts($event)"
    (showIds)="showIds($event)"
  ></app-post-form>

  <hr />
  <input type="text" class="form-control mt-2" placeholder="search" [(ngModel)]="search">
  <hr />

  <app-post
    *ngFor="let postItem of posts.posts | filter:search"
    (onRemove)="removePost($event)"
    [post]="postItem"
    [showIds]="isShowIds"
  >

    <div #info>
      <small *ngIf="postItem.text.length > 10; else short">Big post</small>
      <ng-template #short><small>Small post</small></ng-template>
    </div>

  </app-post>
</div>
