<div class="container">
  <h2>Angular HttpClient</h2>

  <div class="card p-2">
    <input class="form-control" type="text" placeholder="name">

    <div class="d-flex mt-2">
      <button class="btn btn-info mr-2">Add</button>
      <button class="btn btn-primary">Upload</button>
    </div>
  </div>

  <hr>

  <div class="card p-2">
    <p class="d-flex justify-content-between align-items-center p-2 mb-0">
      <span class="completed">Name</span>
      <span>
        <button class="btn btn-danger mr-2">Delete</button>
        <button class="btn btn-success">Done</button>
      </span>
    </p>
  </div>
</div>
